
/* Theme: Light Theme */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: rgb(244, 244, 244);
    color: rgb(51, 51, 51);
}

/* Header */
header {
    background: rgb(30, 144, 255);
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: aqua;
}

/* Hero */
.hero {
    text-align: center;
    padding: 60px 20px;
    background: rgb(227, 242, 253);
}

/* About Section */
.about-section {
    padding: 50px;
}

.about-content {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-content img {
    width: 200px;
    border-radius: 10px;
}

/* Projects Section */
.projects-section {
    padding: 50px;
    background: white;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card {
    background: rgb(250, 250, 250);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.view:hover{
    background-color: rgb(179, 187, 187);
}

/* Contact Section */
.contact-section {
    padding: 50px;
    text-align: center;
    background: rgb(227, 242, 253);
}

form {
    max-width: 400px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.send:hover{
    color: aqua;
}

/* Footer */
footer {
    background: rgb(30, 144, 255);
    color: white;
    text-align: center;
    padding: 20px;
}

.social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
    color: blue;
}


/* RESPONSIVENESS */
@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .projects-container {
        grid-template-columns: 1fr;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
